
/* body */
h1 {
    text-align: center;
}

.divGabung {
    height: 200px;
    width: 300px;
    padding: 20px;
}

.div1 {
    background: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: underline;
}

.div2 {
    background: green;
    font-size: 40px;
    font-style: italic;
    text-align: left;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* link */
.link {
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    color: red;
    font-size: 50px;
}

.lik:active {
    color: yellow;
}

.link:visited {
    color: aqua;
}

.satu {
    text-align: left;
    position: relative;
    background: blue;
}

.dua {
    text-align: right;
    background: green;
    position: absolute;
    top: 40px;
}

.tiga {
    font-size: 40px;
    letter-spacing: 20px;
    background: yellow;
}

.empat {
    font-weight: bold;
    background: aqua;
}
